html {
    font-size: 62.5%;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.header-1 {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    @include fontSize(100);
    // text-align: center;
    text-shadow: 1px 1px 20px $white,
                  2px 2px 0 $black,
									3px 3px 0 $black,
									4px 4px 0 $red,
									5px 5px 0 $black,
									6px 6px 0 $black,
									7px 7px 0 $red;
}
.header-2 {
    font-size: 4rem;
    text-align: center;
    text-transform: lowercase;
}
.paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
}
.input {
    font-size: 1.6rem;
}