@import "setup";
@import "utils";
@import "typography";

body {
  background-image: linear-gradient(to bottom, rgba(212, 81, 19,0.5) 20%, rgba(212, 81,19,0.7)),url('../images/brickwall_@2X.png');
}

img { 
  max-width: 200px;
}

.wrapper {
  max-width: 1600px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.mainHeader {
  position: fixed;
  color: $orange;
  right: 0;
  top: 50px;
  transform: rotate(180deg);
  left: 25px;
  bottom: 50px;
}
.innerWrapper {
  width: 40%;
  margin: 0 auto;
  background: white;
  height: 90vh;
  padding: 100px 0 0 0;
  box-shadow: 0 0 5px 1px $white;
  position: relative;
  overflow-y: auto;
}
.contactHeader {
  background: rgba(248, 221, 164,0.6);
  position: fixed;
  width: 40%;
  margin: 0 auto;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  margin: 0;
  padding: 20px;
  z-index: 999;
}
.text {
  position: relative;
}
.list {
  list-style: none;
  padding-bottom: 100px;
}
.txtMsg {
  width: 60%;
  background: $orange;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color:$white;
  &:nth-child(2n) {
    background: lighten($yellow, 20);
    color: $black;
    position: relative;
    left: 150px;
  }
}
.response {
  opacity: 0;
}
.animation {
  background: rgba(249, 160, 63,0.5);
  width: 10%;
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  border-radius: 50px;
  position: fixed;
  bottom: 22vh;
  right: 0;
  left: 0;
  margin: 0 auto;
  box-shadow: 0 0 5px 1px $yellow;
  display: none;
  & .fa {
    position: relative;
  }
  &.animate {
    display: flex;
    & .fa {
    animation: writing 1.2s 3;
    text-shadow: 0 0 5px $white;
    }
    & .fa:nth-child(2) {
    animation-delay: 0.3s;
    }
    & .fa:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}
.userInput {
  position: fixed;
  bottom: 5vh;
  display: flex;
  width: 40%;
  padding: 20px 10px;
  background: rgba(248, 221, 164,0.6);  
}
.submitBtn {
  background: $red;
  border: 2px solid $red;
  background: $red;
  color: $white;
  border-radius: 50%;
  padding: 20px 15px;
  margin: 5px 10px;
}
.firstInput {
  flex: 1 0 80%;
  background: $white;
  border: 1px solid rgba(0,0,0,0.4);
  padding: 10px 20px;
}
.results {
  position: fixed;
  width: 40%;
  top: 5vh;
  bottom: 5vh;
  margin: 0 auto;
  z-index: 999;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  display: none;
  &__option {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 20px;
    align-items: center;
    &__image {
      border: 5px solid $orange;
      // border-radius: 50%;
      margin: 10px 20px;
      flex: 0 0 auto;
    }
    &__text {
      flex:1 0 auto;
      &--right {
        text-align: right;
      }
    }
  }
}
.btn {
  color: $white;
  background: $orange;
  text-decoration: none;
  padding: 10px 15px;
  &--right{
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
@keyframes writing {
  0% {
    transform: scale(1);
    top: 0;
  }
  25% {
    bottom: 4px;
    color: $yellow;
  }
  50% {
    top: 4px;
    bottom: 0;
    color: $orange;
    transform: scale(1.1);    
  }
  75% {
    bottom: 4px;
    // top: 0
  }
  100% {
    transform: scale(1);
    top: 0;
    // bottom: 0;
  }
}